{% extends '_base.html' %}

{% block title %}
 CATEGORIA
{% endblock title %}
{% block content %}
    <h4>Categorias
        &nbsp;|&nbsp;
        <a href="{% url 'category_create' %}">
            Incluir
        </a>
    </h4>
    <ul>
        {% for category in categories %}
            <li> 
                {{ category.name }}
                &nbsp;|&nbsp;
                <a href="{% url 'category_detail' category.id %}">
                    Ver
                </a>
                &nbsp;|&nbsp;
                <a href="{% url 'category_update' category.id %}">
                    Editar
                </a>
                &nbsp;|&nbsp;
                <a href="{% url 'category_delete' category.id %}">
                    Excluir
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}

{% block footer %}
{% endblock %}